.libs
*.swp
*.o
*.tar.gz
tags
.deps
depcomp
*.a
stamp-h1
missing
configure.scan
configure.in
configure.ac
config.h
config.log
config.status
autoscan.log
aclocal.m4
autom4te.cache
Makefile
Makefile.am
list
*.vim
*.viminfo
*~
build/
*impl
.idea/
xcuserdata/

Default
.d

